{% extends "admin/layout.html" %}
{% block content %}
<h4>Transactions</h4>
<table class="table table-striped">
  <thead><tr><th>TxID</th><th>Amount</th><th>From</th><th>To</th><th>UPI</th><th>Status</th><th>Time</th></tr></thead>
  <tbody>
    {% for t in txs %}
    <tr>
      <td>{{ t.tx_id }}</td>
      <td>₹{{ t.amount }}</td>
      <td>{{ t.sender }}</td>
      <td>{{ t.receiver }}</td>
      <td>{{ t.to_upi }}</td>
      <td>{{ t.status }}</td>
      <td>{{ t.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
